
.chatscreen__message{
    display: flex;
    align-items: center;
    padding:20px;
}
.chatscreen__text{
    margin-left: 10px;
    border-radius: 20px;
    padding:15px;
    background-color: lightgray;
}
.chatscreen__timestamp{
    align-items: center;
    padding:20px;
    color:gray;
    
}
.chatscreen__textuser{
    margin-left: auto;
    color:white;
    background-color:#29b3cd ;
    padding:15px;
    border-radius: 20px;
}
.chatscreen__input{
display: flex;
padding:5px;
position: fixed;
bottom: 0;
width:100%;
border-top:1px solid lightgray;

}
.chatscreen__inputField{
    flex:1;
    border:none;
    padding:10px;

}
.chatscreen__inputButton{
    border:none;
    background-color: white;
    color:#fe3d71;
    font-weight: bolder;
    margin-right: 15px;
}