.swipeButtons{
    display: flex;
    justify-content: space-evenly;
    position:fixed;
    width:100%;
    bottom:5vh;

}
.swipeButtons.MuiIconButton-root{
    background-color: white;
    box-shadow: 0px 10px 53px 0px rgba(0,0,0,0.3)!important;
}
.swipeButtons__repeat{
    color:#f5b748 !important;
    padding:3vw;
}
.swipeButtons__left{
    color:#ec5e5f !important;
    padding:3vw;
}
.swipeButtons__star{
    color:#62b4f9 !important;
    padding:3vw;
}
.swipeButtons__lighting{
    color:lightgreen!important;
    padding:3vw;
}
.swipeButtons__right{
    color:rgb(218, 138, 218) !important;
    padding:3vw;
}

